<head th:fragment="headFragment">
	<link th:href="@{../css/headerNav.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{../css/body.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{../js/menu.js}"  type="text/javascript" defer></script>
	<script th:src="@{../js/submenu.js}" type="text/javascript" defer></script>
	<meta charset="UTF-8">

</head>

<head th:fragment="headInsertFragment">
	<link th:href="@{../css/headerNav.css}" rel="stylesheet" type="text/css"/>
	<link th:href="@{../css/subNav.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../css/form.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{../css/body.css}" rel="stylesheet" type="text/css" />
	<script th:src="@{../js/submenu.js}" type="text/javascript" defer></script>
	<meta charset="UTF-8">
</head>
