<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head th:replace="fragments/fragmentMetaTags :: headInsertFragment">			
	</head>
	<script th:src="@{../js/mandatoryFieldLibro.js}" type="text/javascript" defer></script>
	<title>Registrazione Libro</title>
                       	
	<body>
		<div th:replace="/fragments/fragmentHeaderNav :: navbar"></div>
		<div th:replace="/fragments/fragmentSubNav :: subnavbar"></div>
		<div id="contentForm">
		<h1>Inserisci libro</h1>
		
		<form method="POST" th:object="${libro}" th:action="@{'/libri/save'}" id="libroForm">	
				
			<input type="text" name="titolo"  th:field="*{titolo}" placeholder="scrivi titolo"  required/>		
			<input type="number" step="0.01" name="prezzo"  th:field="*{costo}" placeholder="scrivi prezzo" required />
			<input type="text" name="codiceIsbn" th:field="*{codiceIsbn}" placeholder="scrivi codice ISBN" required/>
			
			<select id="autore" name="autore">
				<option value="">Inserisci autore</option>
          		<option th:each="autore : ${autori}" th:value="${autore.id}" th:text="${autore.nome} + ' ' + ${autore.cognome}">   
				</option>
          	</select>
          	
          	<select id="categoria" name="categoria">
				 <option value="">Inserisci categoria</option>
          		 <option th:each="categoria : ${categorie}" th:value="${categoria.id}" th:text="${categoria.nomeCategoria}">   
				 </option>
          	</select>
          	
			<button id="btnBook" type="submit">Inserisci libro</button>
		</form>
		</div>
	</body>
	
</html>